@font-face {
  font-family: sharp-sans-book;
  src: url(fonts/Sharp-Sans-Book.otf);
}

@font-face {
  font-family: product-sans;
  src: url(fonts/Product-Sans-Regular.ttf);
}

@font-face {
  font-family: product-sans-bold;
  src: url(fonts/Product-Sans-Bold.ttf);
}

@font-face {
  font-family: product-sans-italic;
  src: url(fonts/Product-Sans-Italic.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: langdon;
  src: url(fonts/Langdon.otf);
}

a {
  cursor: pointer;
}

.whole-page {
  width: 100%;
  background-color: #ffff;
  min-height: 100vh;
}

div#main-content,
div#admin-main {
  min-height: 100vh;
}

div.subtitle {
  font-family: langdon;
  font-size: 30px;
  color: #3d3d3d;
  margin: 15px 0;
}

button:focus,
input:focus,
a:focus,
select:focus,
i:focus {
  outline: 0 !important;
}

label {
  font-family: product-sans;
  font-weight: 500;
}

div.subtitle2 {
  font-family: product-sans-bold;
  font-size: 22px;
  color: #444444;
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: left;
}

div.enterdata {
  font-family: product-sans;
  font-size: 16px;
  color: #777777;
  margin-top: 55px;
}

#courses label {
  padding-left: 20px;
  margin-bottom: 15px;
}

div.enterdata input[type="text"] {
  color: black;
  font-weight: 400;
}

div.enterdata input,
div.enterdata button {
  font-family: helvetica;
  font-size: 12px;
  color: black;
  font-weight: 400;
}

textarea:focus,
input:focus {
  outline: none;
}

.rc-time-picker-panel-input {
  font-family: product-sans;
  font-size: 16px;
  color: #444;
}

#main-content input[type="text"],
#admin-main input[type="text"],
#main-content input[type="password"],
#admin-main input[type="password"],
#main-content select,
#admin-main select {
  color: #444;
  font-family: product-sans;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  line-height: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 3px;
  padding-left: 5px;
  background-color: white;
  border: 1px solid #ddd;
}

.icon > i {
  position: relative;
  top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}

.W-100 {
  width: 100%;
}

#main-content button,
#admin-main button {
  background-color: #eee;
  border: 1px solid #aaa;
  font-size: 14px;
  padding: 2px 20px;
  font-family: product-sans;
  border-radius: 4px;
  color: #444;
}

#main-content button:focus,
#admin-main button:focus {
  outline: 0;
}

#main-content button:hover,
#admin-main button:hover {
  background-color: #f6f6f6;
}

div#main-content,
div#admin-main {
  background-color: #ffffff;
  border-radius: 5px;
}

div#available-TAs,
div#TA-list {
  font-size: 18px;
  font-family: product-sans;
  color: #666;
  text-align: center;
}

.remove-ta {
  position: relative;
  transform: translateY(-30%);
}

.TA-id {
  position: relative;
  transform: translateY(-70%);
  font-size: 16px;
  color: #999;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
}

td {
  padding: 2px;
}

/*
.table-cell-inner {
height: 5px;
max-height: 5px;
overflow: hidden;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  color: white;
  background-color: transparent;
  border: 0;
  padding-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dddddd;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

input[type="checkbox"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"].css-checkbox + label.css-label {
  padding-left: 22px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

input[type="checkbox"].css-checkbox:hover + label.css-label {
  background-image: url(./images/hover.png);
}

input[type="checkbox"].css-checkbox:checked:hover + label.css-label {
  background-image: url(./images/checkboxes.png);
}

label.css-label {
  background-image: url(./images/checkboxes.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: product-sans-bold;
  color: #444444;
  font-size: 17px;
  padding: 17px 17px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  left: auto;
  right: 0;
  margin-right: -10px;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav > li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}

/* Bootstrap navbar styling */
ul.nav a:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white; /*Sets the text hover color on navbar*/
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: transparent;
}

.navbar-default {
  background: linear-gradient(213deg, #3ba5b4 0, #38ba8a 100%);
  margin-bottom: 0px;
}

.navbar-nav > li > a {
  padding-top: 23px;
  padding-bottom: 15px;
}

.navbar-nav {
  margin: 0px -15px;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0px 0px;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
  font-family: product-sans-bold;
  font-size: 30px;
}

table#availability-table td:first-child {
  cursor: pointer;
}

table#availability-table td {
  width: 20%;
  height: 11px;
  text-align: right;
  cursor: pointer;
}

table#availability-table th {
  font-size: 17px;
  color: #444;
  width: 20%;
  height: 18px;
  font-family: product-sans-bold;
  text-align: center;
}

#time-table td {
  padding-top: 8px;
  font-family: product-sans;
  color: #666;
}

table#availability-table td.selectable {
  width: 20%;
  height: 11px;
  background-color: white;
  border: 1px solid #ededed;
}

table#availability-table tr.table-border td.selectable {
  border-top: 2px solid #c4c4c4;
}

table#availability-table td.highlighted {
  background-color: #47b998;
  border: 1px solid #40a88b;
}

table#availability-table tr.table-border td.highlighted {
  border-top: 2px solid #3c9b80;
}

table#time-table th {
  width: 100%;
  height: 9px;
}

table#time-table td {
  width: 100%;
  height: 44px;
  text-align: right;
  vertical-align: top;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

select {
  -moz-appearance: none;
}

.form-control {
  height: 25px;
  padding: 0;
}

.form-group button {
  background-color: #0064af !important;
  border: 1px solid #155184 !important;
  font-size: 14px !important;
  padding: 6px 6px !important;
  font-family: roboto !important;
  border-radius: 3px !important;
  color: #fff !important;
}

.form-group button:hover {
  background-color: #015696 !important;
}

.input-group-addon {
  padding: 0px 6px;
}
.enterdata ::placeholder {
  font-family: product-sans;
  color: #666;
}
.input-group {
  width: 100%;
}

#test-admin-id ::placeholder {
  color: #aaa !important;
}
